/* @import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

body {
  text-align: center;
}

#title {
  text-align: center;
}
